<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <%- include('partials/head-links') %>
<body>
    <%- include('partials/navbar') %>
    <div class="row container-fluid" style="margin-top: 100px">
        <div class="col me-auto">
            <h1 class="mx-5" style="color: rgb(4, 88, 88);">Welcome <%= username %>  </h1></div>
        <div class="col ms-auto">
            <a href="/books" class="btn btn-primary">View Books</a>
        </div>
    </div>

    <div class="container-fluid">
        <h1 class="fw-bold text-center my-5 bg-primary text-light py-2" >Rented Books</h1>

        <div class="row mb-5 gy-5 container-fluid">
           <% if ( rentals.length > 0) { %>
                <% rentals.forEach(rental => { %> 
                    <div class="col-sm col-6 ms-sm-3 ">
                        <div class="card var-width">
                            <img src="<%= rental.img %>" class="card-img-top" alt="..."  height="200px">
                            <div class="card-body">
                                <h5 class="card-title fw-bold"><%= rental.title %> </h5>
                                <p class="card-text"> By <%= rental.author %> </p>
                                <p >Category: <%= rental.category %> </p>
                                <div class="d-sm-flex d-block">
                                    <a href="/view/<%= rental.id %>" class="btn btn-primary btn-sm text-center mb-3 me-auto">VIEW</a>
                                    <form  action="/unrent" method="post">
                                        <input type="text" name="title" value="<%= rental.title %>" style="display: none;" >
                                        <button type="submit" class="btn btn-primary btn-sm mb-3">UNRENT</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %> 
           <% } else {%>
                <h2 class="text-center">You have not rented any books </h2>
            <% } %>
            
        </div>
    </div>

    
    <script>
        const loginbtn = document.querySelector('.loginbtn')
        const registerbtn = document.querySelector('.registerbtn')
        let name = '<%=username %>'
        if (!(name == '')){
            loginbtn.innerHTML = ''
            registerbtn.innerHTML = 'Logout!'
            registerbtn.classList.add('btn','btn-primary', 'text-light')
            loginbtn.setAttribute('href','#')
            registerbtn.setAttribute('href', '/logout')
        }
    </script>
</body>
</html>